.header{
  height: 60px;
  width: 100%;
  background-color: $color-white;
  &__container{
    padding: 13px 0;
    display: flex;
    justify-content: space-between;
  }
  &__logo-block{
    height: 26px;
    width: 104px;
  }
  &__buttons-block{
    display: flex;
    justify-content: center;
    gap: 10px
  }

}