$color-primary: #F4E041;
$color-secondary: #F8F8F8;
$color-background: #F8F8F8;
$color-white: #fff;
$color-gray: #7E7E7E;
$color-gray2: #D0CFCF;
$color-gray3: #B4B4B4;;
$color-red: #CB3D40;
$color-yellow-light: #FFE302;

@font-face {
  font-family: "Nunito";
  src: url("../fonts/Nunito-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}

